# =========================
# VS CODE (NUNCA VERSIONAR)
# =========================
.vscode/
*.code-workspace

# =========================
# ADVPL / PROTHEUS
# =========================
.vscode/.advpl/
*.dbg
*.tmp
*.log

# =========================
# WINDOWS
# =========================
Thumbs.db
Desktop.ini
